@page
@using Acme.Samples.Pages
@using Microsoft.EntityFrameworkCore
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Table
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@using Volo.Abp.Domain.Repositories
@model Acme.Samples.Pages.Catalog
@inject IRepository<CatalogEntity, int> Repository
@{
    // Layout = null;
    var queryable = await Repository.GetQueryableAsync();
    var info = queryable.AsEnumerable().ToList();
    var data = info.GroupBy(a => a.Grouper).ToList();
}
@section scripts
{
    <abp-script src="/Pages/Catalog.cshtml.js"></abp-script>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                @* <abp-card-title></abp-card-title> *@
                <abp-button id="TopButton"
                            icon="fa-solid fa-up"
                            icon-type="Other"
                            text="Arriba"
                            button-type="Secondary" />
                &nbsp;&nbsp;
                <span class="h5">
                    Catalogo
                    <span class="SubItem"></span>
                </span>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                <abp-button id="NewButton"
                            text="Agregar item"
                            icon="plus"
                            button-type="Primary" />
                
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="catalogTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
<br>
<abp-card>
    <abp-card-header>
        <abp-card-title>Datos</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        @foreach (var item in data)
        {
            <div class="mb-3">
                <label class="form-label">Clave grouper -> @item.Key</label>
                <select class="form-select">
                    @foreach (var render in item.ToList())
                    {
                        <option value="@render.Code">@render.Grouper - @render.Code - @render.Description - @render.ParentCode</option>
                    }
                </select>
            </div>
        }
    </abp-card-body>
</abp-card>
<br>
<abp-card>
    <abp-card-header>
        <abp-card-title>Datos</abp-card-title>
    </abp-card-header>
    <abp-card-body>
        @foreach (var item in data)
        {
            <strong>Clave -> @item.Key</strong>
            <ul>
                @foreach (var render in item.ToList())
                {
                    <li>@render.ParentCode - @render.Code - @render.Description - @render.Grouper</li>
                }
            </ul>
        }
    </abp-card-body>
</abp-card>