@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.Brand
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Acme.Samples.Themes.Basic.Components.Sidebar


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Dastone - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!-- App css -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        @* <link href="/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" /> *@
        <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        @RenderSection("styles")
    </head>

    <body>
        <!-- Left Sidenav -->
        <div class="left-sidenav">

            @(await Component.InvokeAsync<MainNavbarBrandViewComponent>())
            @(await Component.InvokeAsync<SidebarViewComponent>())

        </div>
        <!-- end left-sidenav-->
        

        <div class="page-wrapper">
            
            <partial name="/Themes/Basic/Shared/Topbar.cshtml"/>
            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    @* NOTE: for content toolbar *@
                    @* <partial name="/Themes/Basic/Shared/Breadcrumb.cshtml"/> *@
                    @RenderBody()

                </div><!-- container -->

                <partial name="/Themes/Basic/Shared/Footer.cshtml"/>
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->

        


        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/metismenu.min.js"></script>
        <script src="/assets/js/waves.js"></script>
        <script src="/assets/js/feather.min.js"></script>
        <script src="/assets/js/simplebar.min.js"></script>
        <script src="/assets/js/moment.js"></script>
        @* <script src="/plugins/daterangepicker/daterangepicker.js"></script> *@
        @RenderSection("scripts")
        <!-- App js -->
        <script src="/assets/js/app.js"></script>
        
    </body>

</html>