@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Table
@model Washyn.Widgets.Pages.Components.ImagesWidget.FilesViewModel
<table class="table table-sm table-bordered table-striped">
    <thead>
    <tr>
        <th>Archivo</th>
        <th>Descripcion</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Files)
    {
        <tr>
            <td>@(item.FileName.TruncateWithPostfix(40))</td>
            <td>@item.Description.TruncateWithPostfix(40)</td>
            <td class="py-0 align-middle text-center">
                <div class="btn-group btn-group-sm">
                    @if (item.CanBeDownload)
                    {
                        <a asp-controller="Files" asp-action="Download" asp-route-id="@item.Id" target="_blank" class="btn btn-outline-info downloadFileItem">
                            <em class="fas fa-file-download"></em>
                        </a>
                    }
                    @if (item.CanBeDelete)
                    {
                        <button class="btn btn-outline-danger deleteFileItem" data-file-id="@item.Id" data-file-name="@item.FileName" type="button">
                            <em class="fas fa-trash"></em>
                        </button>
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
    @if (Model.CanBeAdd)
    {
        <tfoot class="tableFooterForm">
            <td>
                <input class="form-control form-control-sm" type="file" accept="image/*" name="file" required="required"/>
            </td>
            <td>
                <input class="form-control form-control-sm" type="text" name="description" required="required"/>
            </td>
            <td>
                <button class="btn btn-sm btn-outline-success uploadButton" type="button">Subir</button>
            </td>
        </tfoot>
    }
</table>